body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;   
}

.container {
    max-width: 900px;
    max-height: auto;
    display: flex; 
    margin: 50px auto 50px auto; 
    padding: 20px 20px 20px 20px; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(180, 203, 226, 0.753);         
}

footer{    
    padding: 10px 0px 0.1px 0px;
    box-shadow: 0 0 10px rgba(180, 203, 226, 0.753);     
}

footer, a{          
    margin-right: 10px;     
    align-items: center;
    text-align: center;     
}

footer a:hover{      
    box-shadow: 0 0 30px rgba(1, 122, 243, 0.753);         
}

section{   
    width: 50%;       
    margin: auto;
    padding: auto;
    display: block; 
    text-align: center;
} 

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 100%;
  }
  
.iceland-regular {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    box-shadow: 0 0 10px rgba(180, 203, 226, 0.753);  
  }
  
textarea {       
    border: solid 0.1px rgba(173, 176, 180, 0.753);  
    border-radius: 5px;
    margin: 10px;    
    padding: 10px;
    width: 90%;
    height: 300px;     
}

#outputText{
    padding: 10px;
    background-image: url("img/lupa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;     
}
#inputText:hover{
    box-shadow: 0 0 10px rgba(180, 203, 226, 0.753); 
}

button {    
    border: solid 0.1px rgba(173, 176, 180, 0.753);   
    border-radius: 5px;
    font-size: 1em;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    width: 40%;
}

button:hover {
    box-shadow: 0 0 10px rgba(180, 203, 226, 0.753);                  
}
